extends template.pug

block content
  h1.mt-5= title
  form(method="POST")
    .form-group
      label(for='title') Title
      input#title.form-control(type='text', placeholder='Enter Title', name="title", value=book.title)
    .form-group
      label(for='author') Author
      input#author.form-control(type='text', placeholder='Enter Author', name="author", value=book.author)
    .form-group
      label(for='numPages') Number of Pages
      input#numPages.form-control(type='text', placeholder='Enter the Number of Pages', name="numPages", value=book.numPages)
    button.btn.btn-primary(type='submit') Submit Book
    