/*
   New Perspectives on JavaScript, 2nd Edition
   Tutorial 2
   Case Problem 4

   The Cutler Shopping Mall
   Author: Alice Samuels
   Date:   3/1/2011

   Filename: mall.css

   This file contains styles used in the mall.htm file.

*/

body       {font-family: Arial, Helvetica, sans-serif}
#page      {position: absolute; top: 10px; left: 10px; width: 800px}
#logo      {position: absolute; width: 100%; top: 5px; left: 5px}

#links     {position: absolute; top: 120px; left: 5px; width: 110px; 
            margin-left: 5px; padding-left: 0px; list-style-type: none}
#links a   {display: block; width: 100%; margin: 15px 0px; text-decoration: none}
#links a:hover {color: white; background-color: blue}

#pageContent {position: absolute; top: 120px; left: 155px}

#clock     {width: 480px; height: 85px; border: 1px solid black; float: left; margin-left: 10px;
            background-color: rgb(235,235,235); padding: 10px}
#clock label {font-size: 12px}

input, label {display: block; float: left}
#now, #countdown {width: 150px}
input            {margin-left: 5px; margin-right: 5px; text-align: right}

h1, h2       {letter-spacing: 8px; color: white; background-color: blue; font-weight: normal;
              padding: 3px}
h3           {letter-spacing: 5px; font-weight: normal}
address      {font-style: normal; font-size: 10px; text-align: center; padding-bottom: 10px;
              border-top: 2px solid blue}



